<template>
 <div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form v-on:submit.prevent="AddStudyRoom">
          <h1 class="h3 mb-3 font-weight-normal">Booking Facility</h1>
          <div class="form-group">
            <label for="user_name">User Name:</label>
            <el-select v-model="user_id" filterable placeholder="Please select" @change="onSelectedDrugUser($event, users)">
            <el-option
              v-for="user in users"
              :key="user.last_name + ' ' + user.first_name"
              :label="user.last_name + ' ' + user.first_name"
              :value="user._id">
            </el-option>
           </el-select>
          </div>
          <div class="form-group">
            <label for="booking_email">E-mail address:</label>
            <input type="email" v-model="booking_email" class="form-control" name="booking_email" placeholder="Enter E-mail address" >
          </div>
          <div class="form-group">
            <label for="booking_tel">Contact Tel. No.:</label>
            <input type="text" v-model="booking_tel" class="form-control" name="booking_tel" placeholder="Enter Tel">
          </div>
          <div class="form-group">
            <label for=" booking_room">Booking Room:</label>
            <el-select v-model="booking_room" filterable placeholder="Please select">
              <el-option value="RM201" >Room 201</el-option>
              <el-option value="RM202">Room 202</el-option>
              <el-option value="RM203">Room 203</el-option>
              <el-option value="RM204">Room 204</el-option>
              <el-option value="RM205">Room 205</el-option>
            </el-select>
          </div>
          <div class="form-group">
            <label for="booking_Usage">Usage(Optional):</label>
            <input type="text" v-model="booking_Usage" class="form-control" name="booking_Usage" placeholder="Enter Usage">
          </div>
          <div class="form-group">
            <label for="booking_Date">Date:</label>
            <input type="date" v-model="booking_Date" class="form-control" name="booking_Date">
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">AddBooking</button>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import router from '../router'
import EventBus from './EventBus'

EventBus.$on('logged-in', test => {
  console.log(test)
})

export default {
  data () {
    return {
      users: [],
      user_id: '',
      user_name: '',
      booking_email: '',
      booking_tel: '',
      booking_room: '',
      booking_Usage: '',
      booking_Date: ''
    }
  },
  mounted () {
    this.emitMethod()
    this.getUser()
  },
  methods: {
    emitMethod () {
      EventBus.$emit('logged-in', 'loggedin')
    },
    onSelectedDrugUser (event, item) {
      axios.get('users/queryUser/' + this.user_id)
        .then((response) => {
          console.log(response.data)
          this.curr_user = response.data
          this.user_name = this.curr_user.last_name + ' ' + this.curr_user.first_name
          this.booking_email = this.curr_user.email
          console.log(this.user_name)
        })
    },
    getUser () {
      axios.get('users/all').then(res => {
        this.users = res.data
        console.log(this.users)
      })
    },
    AddStudyRoom () {
      this.$confirm('Do you confirm the submission?', 'Save', {}).then(() => {
        axios.post('bookrooms/createBookroom', {
          user_id: this.user_id,
          user_name: this.user_name,
          booking_email: this.booking_email,
          booking_tel: this.booking_tel,
          booking_room: this.booking_room,
          booking_Usage: this.booking_Usage,
          booking_Date: this.booking_Date
        }).then(res => {
          console.log(res)
          this.$message({
            message: 'Submitted successfully',
            type: 'success'
          })
          router.push({name: 'EditBooking', query: { bookroom_ID: res.data.bookroomID }})
        }).catch(err => {
          console.log(err)
        })
      })
    }
  }
}
</script>
