<template>
 <div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form  v-on:submit.prevent="addbook">
          <h1 class="h3 mb-3 font-weight-normal">AddBook</h1>
          <div class="form-group">
            <label for="book_title">Title:</label>
            <input type="text" v-model="book_title" class="form-control" name="book_title" placeholder="Enter Title">
          </div>
          <div class="form-group">
            <label for="book_author">Author:</label>
            <input type="text" v-model="book_author" class="form-control" name="book_author" placeholder="Enter Author">
          </div>
          <div class="form-group">
            <label for="book_NumOfCop">Number Of Copies:</label>
            <input type="number" v-model="book_NumOfCop" class="form-control" name="book_NumOfCop" placeholder="Enter Number Of Copies">
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea type="text" v-model="description" class="form-control" name="description" placeholder="Enter something"></textarea>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">AddBook</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import router from '../router'
import EventBus from './EventBus'

EventBus.$on('logged-in', test => {
  console.log(test)
})

export default {
  data () {
    return {
      book_title: '',
      book_author: '',
      book_NumOfCop: '',
      description: ''
    }
  },
  mounted () {
    this.emitMethod()
  },
  methods: {
    addbook () {
      this.$confirm('Do you confirm the submission?', 'Save', {}).then(() => {
        axios.post('books/createBook', {
          book_title: this.book_title,
          book_author: this.book_author,
          book_NumOfCop: this.book_NumOfCop,
          description: this.description
        }).then(res => {
          console.log(res)
          this.$message({
            message: 'Submitted successfully',
            type: 'success'
          })
          router.push({name: 'EditBook', query: { book_ID: res.data.bookID }})
        }).catch(err => {
          console.log(err)
        })
      })
    },
    emitMethod () {
      EventBus.$emit('logged-in', 'loggedin')
    }
  }
}
</script>
<style>
</style>
