<template>
<div class="container">
<el-row>
    <br>
    <el-card>
    <el-form ref="form" :model="form" label-position="top" >
        <h1 class="h3 mb-3 font-weight-normal">View Booking Room</h1>
        <div class="form-group">
            <label for="_id">Booking Room Id: </label>
            <p><i>{{_id}}</i></p>
        </div>
        <div class="form-group">
            <label for="user_name">User Name:</label>
            <p><i>{{user_name}}</i></p>
        </div>
        <div class="form-group">
            <label for="booking_email">Email:</label>
            <p><i>{{booking_email}}</i></p>
        </div>
        <div class="form-group">
        <label for="booking_tel">Tel:</label>
        <p><i>{{booking_tel}}</i></p>
        </div>
        <div class="form-group">
        <label for="booking_room">Room:</label>
        <p><i>{{booking_room}}</i></p>
        </div>
        <div class="form-group">
        <label for="booking_Usage">Usage:</label>
        <p><i>{{booking_Usage}}</i></p>
        </div>
        <div class="form-group">
        <label for="booking_Date">Date:</label>
        <p><i>{{booking_Date}}</i></p>
        </div>
            <el-button size="small" @click="handleEdit()">Edit</el-button>
            <el-button type="danger" @click="handleDelete()" size="small" >Delete</el-button>
    </el-form>
    </el-card>
    <br><br>
    </el-row>
</div>
</template>
<script>
import EventBus from './EventBus'
import router from '../router'
import axios from 'axios'

EventBus.$on('logged-in', test => {
  console.log(test)
})

export default {
  data () {
    return {
      // eslint-disable-next-line vue/no-reserved-keys
      _id: '',
      user_name: '',
      booking_email: '',
      booking_tel: '',
      booking_room: '',
      booking_Usage: '',
      booking_Date: ''
    }
  },
  mounted () {
    this.emitMethod()
    this.getbookroom()
  },
  methods: {
    emitMethod () {
      EventBus.$emit('logged-in', 'loggedin')
    },
    getbookroom () {
      axios.get('bookrooms/queryBookroom/' + this.$route.query.bookroom_ID)
        .then((response) => {
          console.log(response.data)
          this._id = response.data._id
          this.user_name = response.data.user_name
          this.booking_email = response.data.booking_email
          this.booking_tel = response.data.booking_tel
          this.booking_room = response.data.booking_room
          this.booking_Usage = response.data.booking_Usage
          this.booking_Date = response.data.booking_Date
        })
    },
    handleEdit () {
      router.push({name: 'EditBooking', query: { bookroom_ID: this.$route.query.bookroom_ID }})
    },
    handleDelete () {
      this.$confirm('Do you confirm the delete?', 'Delete', {}).then(() => {
        axios.delete('bookrooms/delbookroombyID/' + this.$route.query.bookroom_ID).then(res => {
          console.log(res.data)
          this.$message({
            message: 'Delete successfully',
            type: 'success'
          })
          router.push({name: 'ViewBookingRecords'})
        })
      })
    }
  }
}
</script>
