<template>
<div class="container">
<el-row>
    <br>
    <el-card>
    <el-form ref="form" :model="form" label-position="top" >
        <h1 class="h3 mb-3 font-weight-normal">View Book</h1>
        <div class="form-group">
            <label for="_id">ID: </label>
            <p><i>{{_id}}</i></p>
        </div>
        <div class="form-group">
            <label for="book_title">Title:</label>
            <p><i>{{book_title}}</i></p>
        </div>
        <div class="form-group">
            <label for="book_author">Author:</label>
            <p><i>{{book_author}}</i></p>
        </div>
        <div class="form-group">
        <label for="book_NumOfCop">Number Of Copies:</label>
        <p><i>{{book_NumOfCop}}</i></p>
        </div>
        <div class="form-group">
        <label for="description">Description:</label>
        <p><i>{{description}}</i></p>
        </div>
            <el-button size="small" @click="handleEdit()">Edit</el-button>
            <el-button type="danger" @click="handleDelete()" size="small" >Delete</el-button>
    </el-form>
    </el-card>
    <br><br>
    </el-row>
</div>
</template>
<script>
import EventBus from './EventBus'
import router from '../router'
import axios from 'axios'

EventBus.$on('logged-in', test => {
  console.log(test)
})

export default {
  data () {
    return {
      // eslint-disable-next-line vue/no-reserved-keys
      _id: '',
      book_title: '',
      book_author: '',
      book_NumOfCop: '',
      description: ''
    }
  },
  mounted () {
    this.emitMethod()
    this.getbook()
  },
  methods: {
    emitMethod () {
      EventBus.$emit('logged-in', 'loggedin')
    },
    getbook () {
      axios.get('books/queryBook/' + this.$route.query.book_ID)
        .then((response) => {
          console.log(response.data)
          this._id = response.data._id
          this.book_title = response.data.book_title
          this.book_author = response.data.book_author
          this.book_NumOfCop = response.data.book_NumOfCop
          this.description = response.data.description
        })
    },
    handleEdit () {
    //   this.$router.push({ name: 'EditBook', query: { books_id: row.id}})
      router.push({name: 'EditBook', query: { book_ID: this.$route.query.book_ID }})
    },
    handleDelete () {
      this.$confirm('Do you confirm the delete?', 'Delete', {}).then(() => {
        axios.delete('books/delBookbyID/' + this.$route.query.book_ID).then(res => {
          console.log(res.data)
          this.$message({
            message: 'Delete successfully',
            type: 'success'
          })
          router.push({name: 'ViewBook'})
        })
      })
    }
  }
}
</script>
