<template>
 <div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form v-on:submit.prevent="Editbook">
          <h1 class="h3 mb-3 font-weight-normal">Edit Book</h1>
          <div class="form-group">
            <label for="book_title">Title:</label>
            <input type="text" v-model="book_title" class="form-control" name="book_title" placeholder="Enter Title">
          </div>
          <div class="form-group">
            <label for="book_author">Author:</label>
            <input type="text" v-model="book_author" class="form-control" name="book_author" placeholder="Enter Author">
          </div>
          <div class="form-group">
            <label for="book_NumOfCop">Number Of Copies:</label>
            <input type="number" v-model="book_NumOfCop" class="form-control" name="book_NumOfCop" placeholder="Enter Number Of Copies">
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea  type="text" v-model="description" class="form-control" name="description" placeholder="Enter something"></textarea>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Edit Book</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from './EventBus'
import axios from 'axios'
import router from '../router'

EventBus.$on('logged-in', test => {
  console.log(test)
})

export default {
  data () {
    return {
      book_title: '',
      book_author: '',
      book_NumOfCop: '',
      description: ''
    }
  },
  mounted () {
    this.emitMethod()
    this.handleEdit()
  },
  methods: {
    emitMethod () {
      EventBus.$emit('logged-in', 'loggedin')
    },
    handleEdit () {
      axios.get('books/queryBook/' + this.$route.query.book_ID)
        .then((response) => {
          console.log(response.data)
          this.book_title = response.data.book_title
          this.book_author = response.data.book_author
          this.book_NumOfCop = response.data.book_NumOfCop
          this.description = response.data.description
        })
    },
    Editbook () {
      let upbook = {
        book_title: this.book_title,
        book_author: this.book_author,
        book_NumOfCop: this.book_NumOfCop,
        description: this.description
      }
      console.log(upbook)
      this.$confirm('Do you confirm the submission?', 'Save', {}).then(() => {
        axios.put('books/Updatebook/' + this.$route.query.book_ID, upbook)
          .then((response) => {
            console.log(response.data)
            this.$message({
              message: 'Submitted successfully',
              type: 'success'
            })
            router.push({name: 'ViewBook'})
          }).catch(err => {
            console.log(err)
          })
      })
    }
  }
}
</script>
<style>
</style>
