<template>
 <div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form v-on:submit.prevent="editbooking">
          <h1 class="h3 mb-3 font-weight-normal">Edit Booking</h1>
          <div class="form-group">
            <label for="user_name">User Name:</label>
            <el-select v-model="user_id" filterable placeholder="Please select" @change="onSelectedDrugUser($event, users)" disabled="true">
            <el-option
              v-for="user in users"
              :key="user.last_name + ' ' + user.first_name"
              :label="user.last_name + ' ' + user.first_name"
              :value="user._id">
            </el-option>
           </el-select>
          </div>
          <div class="form-group">
            <label for="booking_email">E-mail address:</label>
            <input type="email" v-model="booking_email" class="form-control" name="booking_email" placeholder="Enter E-mail address" disabled="true">
          </div>
          <div class="form-group">
            <label for="booking_tel">Contact Tel. No.:</label>
            <input type="text" v-model="booking_tel" class="form-control" name="booking_tel" placeholder="Enter Tel">
          </div>
          <div class="form-group">
            <label for=" booking_room">Booking Room:</label>
            <el-select v-model="booking_room" filterable placeholder="Please select">
              <el-option value="RM201" >Room 201</el-option>
              <el-option value="RM202">Room 202</el-option>
              <el-option value="RM203">Room 203</el-option>
              <el-option value="RM204">Room 204</el-option>
              <el-option value="RM205">Room 205</el-option>
            </el-select>
          </div>
          <div class="form-group">
            <label for="booking_Usage">Usage(Optional):</label>
            <input type="text" v-model="booking_Usage" class="form-control" name="booking_Usage" placeholder="Enter Usage">
          </div>
          <div class="form-group">
            <label for="booking_Date">Date:</label>
            <input type="date" v-model="booking_Date" class="form-control" name="booking_Date">
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">EditBooking</button>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import router from '../router'
import EventBus from './EventBus'

EventBus.$on('logged-in', test => {
  console.log(test)
})

export default {
  data () {
    return {
      users: [],
      user_id: '',
      user_name: '',
      booking_email: '',
      booking_tel: '',
      booking_Usage: '',
      booking_Date: '',
      booking_room: ''
    }
  },
  mounted () {
    this.emitMethod()
    this.getUser()
    this.handleEdit()
  },
  methods: {
    emitMethod () {
      EventBus.$emit('logged-in', 'loggedin')
    },
    onSelectedDrugUser (event, item) {
      axios.get('users/queryUser/' + this.user_id)
        .then((response) => {
          console.log(response.data)
          this.curr_user = response.data
          this.user_name = this.curr_user.last_name + ' ' + this.curr_user.first_name
          this.booking_email = this.curr_user.email
          console.log(this.user_name)
        })
    },
    getUser () {
      axios.get('users/all').then(res => {
        this.users = res.data
        console.log(this.users)
      })
    },
    handleEdit () {
      axios.get('bookrooms/queryBookroom/' + this.$route.query.bookroom_ID)
        .then((response) => {
          this.curr_bookroom = response.data

          this.user_id = this.curr_bookroom.user_id
          this.user_name = this.curr_bookroom.user_name
          this.booking_email = this.curr_bookroom.booking_email
          this.booking_tel = this.curr_bookroom.booking_tel
          this.booking_room = this.curr_bookroom.booking_room
          this.booking_Usage = this.curr_bookroom.booking_Usage
          this.booking_Date = this.curr_bookroom.booking_Date
          console.log(this.response)
        })
    },
    editbooking () {
      let para = {
        user_id: this.user_id,
        user_name: this.user_name,
        booking_email: this.booking_email,
        booking_tel: this.booking_tel,
        booking_room: this.booking_room,
        booking_Usage: this.booking_Usage,
        booking_Date: this.booking_Date
      }
      console.log(para)
      this.$confirm('Do you confirm the submission?', 'Save', {}).then(() => {
        axios.put('bookrooms/UpdateBookroom/' + this.$route.query.bookroom_ID, para)
          .then(res => {
            console.log(res.data)
            this.$message({
              message: 'Submitted successfully',
              type: 'success'
            })
            router.push({name: 'ViewBookingRecords'})
          }).catch(err => {
            console.log(err)
          })
      })
    }
  }
}
</script>
