<template>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5 mx-auto">
                <form v-on:submit.prevent="EditProfile">
                    <h1 class="h3 mb-3 font-weight-normal">EditProfile</h1>
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" v-model="first_name" class="form-control" name="first_name" placeholder="Enter Fist Name">
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" v-model="last_name" class="form-control" name="last_name" placeholder="Enter Last Name">
                    </div>
                    <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" v-model="email" class="form-control" name="email" placeholder="Enter Email" disabled="true">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import EventBus from './EventBus'
import router from '../router'
import axios from 'axios'

EventBus.$on('logged-in', test => {
  console.log(test)
})

export default {
  data () {
    return {
      first_name: '',
      last_name: '',
      email: ''
    }
  },
  mounted () {
    this.emitMethod()
    this.handleEdit()
  },
  methods: {
    emitMethod () {
      EventBus.$emit('logged-in', 'loggedin')
    },
    handleEdit () {
      axios.get('users/queryUser/' + this.$route.query.user_ID)
        .then((response) => {
          console.log(response.data)
          this.first_name = response.data.first_name
          this.last_name = response.data.last_name
          this.email = response.data.email
        })
    },
    EditProfile () {
      let upuser = {
        first_name: this.first_name,
        last_name: this.last_name,
        email: this.email
      }
      console.log(upuser)
      this.$confirm('Do you confirm the submission?', 'Save', {}).then(() => {
        axios.put('users/updateUser/' + this.$route.query.user_ID, upuser)
          .then((response) => {
            console.log(response.data)
            this.$message({
              message: 'Submitted successfully',
              type: 'success'
            })
            router.push({name: 'ViewUser'})
          })
      })
    }
  }
}
</script>
