<template>
 <div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form v-on:submit.prevent="editloan">
          <h1 class="h3 mb-3 font-weight-normal">EditLoan</h1>

          <div class="form-group">
            <label for="book_title">Title:</label>
            <!-- <input type="text" v-model="book_title" class="form-control" name="book_title" placeholder="Enter Title"> -->
            <el-select v-model="book_id" filterable placeholder="Please select" @change="onSelectedDrugBook($event, books)" disabled="true">
            <el-option
              v-for="book in books"
              :key="book.book_title"
              :label="book.book_title"
              :value="book._id">
            </el-option>
           </el-select>
          </div>

          <div class="form-group">
            <label for="user_name">User Name:</label>
            <!-- <input type="text" v-model="user_name" class="form-control" name="user_name" placeholder="Enter User Name"> -->
            <el-select v-model="user_id" filterable placeholder="Please select" @change="onSelectedDrugUser($event, users)" disabled="true">
            <el-option
              v-for="user in users"
              :key="user.last_name + ' ' + user.first_name"
              :label="user.last_name + ' ' + user.first_name"
              :value="user._id">
            </el-option>
           </el-select>
            <!-- <el-input v-model="user_name" type="hidden"></el-input> -->
          </div>

          <div class="form-group">
            <label for="loan_Issue_Date">Loan Issue Date:</label>
            <input type="date" v-model="loan_Issue_Date" class="form-control" name="loan_Issue_Date" placeholder="Enter Loan Issue Date">
          </div>
          <div class="form-group">
            <label for=" loan_Due_Date">Loan Due Date:</label>
            <input type="date" v-model=" loan_Due_Date" class="form-control" name=" loan_Due_Date" placeholder="Enter Loan Due Date">
          </div>
          <div class="form-group">
            <label for=" loan_Status">Loan Status:</label>
            <!-- <input type="test" v-model=" loan_Status" class="form-control" name=" loan_Status" placeholder="Enter Loan Status"> -->
            <select v-model="loan_Status" placeholder="Enter Loan Status">
              <option :loan_Status="true" value="In Progress" >In Progress</option>
              <option value="Unavailable">Unavailable</option>
            </select>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">EditLoan</button>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import router from '../router'
import EventBus from './EventBus'

EventBus.$on('logged-in', test => {
  console.log(test)
})

export default {
  data () {
    return {
      users: [],
      books: [],
      book_id: '',
      book_title: '',
      user_id: '',
      user_name: '',
      loan_Issue_Date: '',
      loan_Due_Date: '',
      loan_Status: ''
    }
  },
  mounted () {
    this.emitMethod()
    this.getUser()
    this.getBook()
    this.handleEdit()
  },
  methods: {
    emitMethod () {
      EventBus.$emit('logged-in', 'loggedin')
    },
    onSelectedDrugBook (event, item) {
      axios.get('books/queryBook/' + this.book_id)
        .then((response) => {
          console.log(response.data)
          this.curr_book = response.data
          this.book_title = this.curr_book.book_title
          console.log(this.book_title)
        })
    },
    getBook () {
      axios.get('books/all').then(res => {
        this.books = res.data
        console.log(this.books)
      })
    },
    onSelectedDrugUser (event, item) {
      axios.get('users/queryUser/' + this.user_id)
        .then((response) => {
          console.log(response.data)
          this.curr_user = response.data
          this.user_name = this.curr_user.last_name + ' ' + this.curr_user.first_name
          console.log(this.user_name)
        })
    },
    getUser () {
      axios.get('users/all').then(res => {
        this.users = res.data
        console.log(this.users)
      })
    },
    handleEdit () {
      axios.get('loans/queryLoan/' + this.$route.query.LoanID)
        .then((response) => {
          this.curr_loan = response.data

          this.book_id = this.curr_loan.book_id
          this.book_title = this.curr_loan.book_title
          this.user_id = this.curr_loan.user_id
          this.user_name = this.curr_loan.user_name
          this.loan_Issue_Date = this.curr_loan.loan_Issue_Date
          this.loan_Due_Date = this.curr_loan.loan_Due_Date
          this.loan_Status = this.curr_loan.loan_Status
          console.log(this.response)
        })
    },
    editloan () {
      let para = {
        book_id: this.book_id,
        book_title: this.book_title,
        user_id: this.user_id,
        user_name: this.user_name,
        loan_Issue_Date: this.loan_Issue_Date,
        loan_Due_Date: this.loan_Due_Date,
        loan_Status: this.loan_Status
      }
      console.log(para)
      this.$confirm('Do you confirm the submission?', 'Save', {}).then(() => {
        axios.put('loans/UpdateLoan/' + this.$route.query.LoanID, para)
          .then(res => {
            console.log(res.data)
            this.$message({
              message: 'Submitted successfully',
              type: 'success'
            })
            router.push({name: 'ViewLoan'})
          }).catch(err => {
            console.log(err)
          })
      })
    }
  }
}
</script>
