<template>
<div class="container">
  <el-row>
      <br>
        <el-card>
          <div class="note" :style ="note">
          <!-- <div class="mt-5">
                  <h1 class="text-center">Welcome to My Library</h1>
              </div>
           -->
            <div class="col-sm-8 mx-auto">
                <h1 class="text-center">Welcome to My Library</h1>
            </div>
          </div>
        </el-card>
      <br><br>
    </el-row>
</div>
</template>
<script>
export default {
  data () {
    return {
      note: {
        backgroundImage: 'url(' + require('../assets/library3.jpg') + ')',
        backgroundRepeat: 'no-repeat',
        width: '1024px',
        height: '1024px'
      }
    }
  }
}
</script>

<style>

</style>
