<template>
<div class="container">
<el-row>
    <br>
    <el-card>
    <el-form ref="form" :model="form" label-position="top" >
        <h1 class="h3 mb-3 font-weight-normal">View Loan</h1>
        <div class="form-group">
            <label for="_id">ID : </label><i>{{_id}}</i>

        </div>
        <div class="form-group">
            <label for="book_title">Title : </label><i>{{book_title}}</i>
        </div>
        <div class="form-group">
            <label for="user_name">User Name : </label><i>{{user_name}}</i>
        </div>
        <div class="form-group">
        <label for="loan_Issue_Date">Loan Issue Date :</label><i>{{loan_Issue_Date}}</i>
        </div>
        <div class="form-group">
        <label for="loan_Due_Date">Loan Due Date:</label><i>{{loan_Due_Date}}</i>
        </div>
        <div class="form-group">
        <label for="loan_Status">Loan Status :</label><i>{{loan_Status}}</i>
        </div>
            <el-button size="small" @click="handleEdit()">Edit</el-button>
            <el-button type="danger" @click="handleDelete()" size="small" >Delete</el-button>
    </el-form>
    </el-card>
    <br><br>
    </el-row>
</div>
</template>

<script>
import EventBus from './EventBus'
import router from '../router'
import axios from 'axios'

EventBus.$on('logged-in', test => {
  console.log(test)
})

export default {
  data () {
    return {
      // eslint-disable-next-line vue/no-reserved-keys
      _id: '',
      book_title: '',
      user_name: '',
      loan_Issue_Date: '',
      loan_Due_Date: '',
      loan_Status: ''
    }
  },
  mounted () {
    this.emitMethod()
    this.getloan()
  },
  methods: {
    emitMethod () {
      EventBus.$emit('logged-in', 'loggedin')
    },
    getloan () {
      axios.get('loans/queryLoan/' + this.$route.query.LoanID)
        .then((response) => {
          console.log(response.data)
          this._id = response.data._id
          this.book_title = response.data.book_title
          this.user_name = response.data.user_name
          this.loan_Issue_Date = response.data.loan_Issue_Date
          this.loan_Due_Date = response.data.loan_Due_Date
          this.loan_Status = response.data.loan_Status
        })
    },
    handleEdit () {
    //   this.$router.push({ name: 'EditBook', query: { books_id: row.id}})
      router.push({name: 'EditLoans', query: {LoanID: this.$route.query.LoanID}})
    },
    handleDelete () {
      this.$confirm('Do you confirm the delete?', 'Delete', {}).then(() => {
        axios.delete('loans/delloanbyID/' + this.$route.query.LoanID).then(res => {
          console.log(res.data)
          this.$message({
            message: 'Delete successfully',
            type: 'success'
          })
          router.push({name: 'ViewLoan'})
        })
      })
    }
  }
}
</script>
