<template>
<div class="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">

      <nav class="navbar navbar-light ">
          <img src="../assets/icon2.png" width="60" height="60" class="d-inline-block align-top" alt="">
          <div class="header-title"><font id="header-title-font">Library</font></div>
      </nav>

      <button class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar1"
        aria-controls="navbar1"
        aria-expanded="false"
        aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar1">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <router-link class="nav-link" to="/">Home</router-link>
              </li>
              <li v-if="auth==''" class="nav-item">
                  <router-link class="nav-link" to="/login">Login</router-link>
              </li>
              <li v-if="auth==''" class="nav-item">
                  <router-link class="nav-link" to="/register">Register</router-link>
              </li>
              <li v-if="auth=='loggedin'" class="nav-item">
                  <router-link class="nav-link" to="/profile">Profile</router-link>
              </li>
              <li v-if="auth=='loggedin'" class="nav-item">
                  <router-link class="nav-link" to="/ViewUser">ListUser</router-link>
              </li>
              <li v-if="auth=='loggedin'" class="nav-item">
                  <router-link class="nav-link" to="/AddBook">AddBook</router-link>
              </li>
              <li v-if="auth=='loggedin'" class="nav-item">
                  <router-link class="nav-link" to="/ViewBook">ListBook</router-link>
              </li>
              <li v-if="auth=='loggedin'" class="nav-item">
                  <router-link class="nav-link" to="/AddLoan">AddLoan</router-link>
              </li>
              <li v-if="auth=='loggedin'" class="nav-item">
                  <router-link class="nav-link" to="/ViewLoan">ListLoan</router-link>
              </li>
              <li v-if="auth=='loggedin'" class="nav-item">
                  <router-link class="nav-link" to="/AddBooking">Booking Facility</router-link>
              </li>
              <li v-if="auth=='loggedin'" class="nav-item">
                  <router-link class="nav-link" to="/ViewBookingRecords">Booking Records</router-link>
              </li>
              <li v-if="auth=='loggedin'" class="nav-item">
                  <router-link class="nav-link" to="/Timetable">Timetable</router-link>
              </li>
              <li v-if="auth=='loggedin'" class="nav-item">
                  <a class="nav-link" href="" v-on:click="loginout">Logout</a>
              </li>
          </ul>
      </div>
  </nav>
</div>
</template>

<script>
import EventBus from './EventBus'
// import jwtDecode from 'jwt-decode'

EventBus.$on('logged-in', test => {
  console.log(test)
})

export default {
  data () {
    return {
      auth: '',
      user: ''
    }
  },

  methods: {
    logout () {
      localStorage.removeItem('usertoken')
    }
  },

  mounted () {
    EventBus.$on('logged-in', status => {
      this.auth = status
      console.log(this.auth)
    })
  }
}

</script>

<style>
.header {
position: relative;
box-sizing: border-box;
width: 100%;
font-size: 18px;
line-height: 20px;
color: #fff;
}
.nav-link{
  float: left;
  width:100px;
  text-align: center;
}

.header-title{
  color:#fff !important;
  font-size:20px;
  font-weight:bold;
}

nav a{
    display:inline-block;
    padding: 18px 30px;
    color:#fff !important;
    font-weight:bold;
    font-size:16px;
    text-decoration:none !important;
    line-height:1;

}
nav a:hover {
  background: blue;
}
.el-dropdown-menu__item{
text-align: center;
}
</style>
