<template>
    <div class="container">
      <el-row>
        <br>
        <el-card>
        <!-- <div class="jumbotron mt-5"> -->
            <div class="col-sm-8 mx-auto">
                <h1 class="text-center">PROFILE</h1>
            </div>
            <table class="table col-md-6 mx-auto" >
                <tbody>
                    <tr>
                        <td>First Name:</td>
                        <td>{{first_name}}</td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td>{{last_name}}</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>{{email}}</td>
                    </tr>
                </tbody>
                <button class="btn btn-lg btn-primary btn-block" @click="onSubmit()">Edit Profile</button>
            </table>
        <!-- </div> -->
        </el-card>
        <br><br>
         </el-row>
    </div>
</template>

<script>
import jwtDecode from 'jwt-decode'
import EventBus from './EventBus'
import router from '../router'

EventBus.$on('logged-in', test => {
  console.log(test)
})

export default {
  data () {
    const token = localStorage.usertoken
    const decoded = jwtDecode(token)
    console.log(decoded._id)
    return {
      first_name: decoded.first_name,
      last_name: decoded.last_name,
      email: decoded.email
    }
  },
  mounted () {
    this.emitMethod()
  },
  methods: {
    emitMethod () {
      EventBus.$emit('logged-in', 'loggedin')
    },
    onSubmit () {
      const token = localStorage.usertoken
      const decoded = jwtDecode(token)
      router.push({name: 'EditProfile', query: { user_ID: decoded._id }})
    }
  }
}
</script>
