<template slot="dateCell" slot-scope="{date, data}">
    <el-calendar v-model="value" id="calendar">
        <template slot="dateCell" slot-scope="{date, data}">
        <div>
            <div class="calendar-day">{{ data.day.split('-').slice(2).join('-') }}</div>
                    <div v-for="item in calendarData"
                         :key="item.id">
                    <div v-if="(item.months).indexOf(data.day.split('-').slice(1)[0])!=-1">
                        <div v-if="(item.days).indexOf(data.day.split('-').slice(2).join('-'))!=-1">
                            <el-tooltip class="item" effect="dark" :content="item.things" placement="right">
                                <div class="is-selected">{{item.things}}</div>
                            </el-tooltip>
                        </div>
                        <div v-else></div>
                    </div>
                <div v-else></div>
                </div>
            </div>
        </template>
    </el-calendar>
</template>
<script>
import axios from 'axios'
// import router from '../router'
import EventBus from './EventBus'

EventBus.$on('logged-in', test => {
  console.log(test)
})

export default {
  data () {
    return {
      calendarData: [
        { months: ['05'], days: ['04', '11'], things: 'Intelligent Agents 13:30-15:30(Lecture)Rm 427A' },
        { months: ['05'], days: ['05', '12'], things: 'Agile Development 13:30-15:30(Lecture)Rm 427A ' },
        { months: ['05'], days: ['07', '14'], things: 'Web API Development 13:30-15:30(Lecture)Rm 427A ' },
        { months: ['05'], days: ['08', '15'], things: 'Individual Project Meeting 427A' },
        { months: ['05'], days: ['03', '10', '17', '24', '31'], things: 'Holiday' }
      ],
      value: new Date(),
      bookrooms: []
    }
  },
  mounted () {
    this.emitMethod()
    this.handleEdit()
  },
  methods: {
    emitMethod () {
      EventBus.$emit('logged-in', 'loggedin')
    },
    handleEdit () {
      axios.get('bookrooms/all').then(res => {
        this.bookrooms = res.data
        console.log(this.bookrooms)

        for (let i = 0; i < this.bookrooms.length; i++) {
          var date = this.bookrooms[i].booking_Date
          var splits1 = date.split('-')
          var month = splits1[1]
          var day = splits1[2]
          this.calendarData.push({
            months: [month],
            days: [day],
            things: this.bookrooms[i].booking_email + '-' + this.bookrooms[i].booking_room + ' Usage:' + this.bookrooms[i].booking_Usage
          })
          console.log(month)
          console.log(date)
          console.log(day)
        }
      })
    }
  }
}
</script>

<style>
    .calendar-day{
        text-align: center;
        color: #202535;
        line-height: 30px;
        font-size: 12px;
    }
    .is-selected{
        color: #F8A535;
        font-size: 10px;
        margin-top: 5px;
    }
    #calendar .el-button-group>.el-button:not(:first-child):not(:last-child):after{
        content: '當月';
    }
</style>
