<template>
<el-table
     :data="bookrooms">
    <el-table-column type="selection" width="55">
        </el-table-column>
        <el-table-column type="index" width="60">
        </el-table-column>
        <el-table-column prop="_id" label="Booking Room Id" width="150"  sortable>
        </el-table-column>
        <el-table-column prop="user_id" label="User Id" width="150"  sortable>
        </el-table-column>
        <el-table-column prop="user_name" label="User Name" min-width="120" sortable>
        </el-table-column>
        <el-table-column prop="booking_email" label="Email" min-width="150" sortable>
        </el-table-column>
        <el-table-column prop="booking_tel" label="Tel" min-width="100" sortable>
        </el-table-column>
        <el-table-column prop="booking_room" label="Room" min-width="150" sortable>
        </el-table-column>
        <el-table-column prop="booking_Usage" label="Usage" min-width="130" sortable>
        </el-table-column>
        <el-table-column prop="booking_Date" label="Date" min-width="100" sortable>
        </el-table-column>
        <el-table-column label="Operating" width="250">
            <template scope="scope">
                <el-button size="small" @click="handleDetailed(scope.$index, scope.row)">View</el-button>
                <el-button size="small" @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                <el-button type="danger" @click="handleDelete(scope.$index, scope.row)" size="small" >Delete</el-button>
            </template>
        </el-table-column>
  </el-table>
</template>
<script>
import axios from 'axios'
import router from '../router'
import EventBus from './EventBus'

EventBus.$on('logged-in', test => {
  console.log(test)
})

export default {
  data () {
    return {
      bookrooms: []

    }
  },
  mounted () {
    this.emitMethod()
    this.getBookroom()
  },
  methods: {
    getBookroom () {
      axios.get('bookrooms/all').then(res => {
        this.bookrooms = res.data
        console.log(res.data)
      })
    },
    emitMethod () {
      EventBus.$emit('logged-in', 'loggedin')
    },
    handleEdit: function (index, row) {
      router.push({name: 'EditBooking', query: { bookroom_ID: row._id }})
    },
    handleDelete: function (index, row) {
      this.$confirm('Do you confirm the delete?', 'Delete', {}).then(() => {
        axios.delete('bookrooms/delbookroombyID/' + row._id).then(res => {
          console.log(res.data)
          this.$message({
            message: 'Delete successfully',
            type: 'success'
          })
          router.go(0)
        })
      })
    },
    handleDetailed: function (index, row) {
      router.push({name: 'BookroomDetailed', query: { bookroom_ID: row._id }})
    }
  }
}
</script>
