<template>
<el-table
     :data="users">
    <el-table-column type="selection" width="55">
        </el-table-column>
        <el-table-column type="index" width="60">
        </el-table-column>
        <el-table-column prop="_id" label="User Id" width="250"  sortable>
        </el-table-column>
        <el-table-column prop="first_name" label="First Name" width="200"  sortable>
        </el-table-column>
        <el-table-column prop="last_name" label="Last Name" width="200"  sortable>
        </el-table-column>
        <el-table-column prop="email" label="Email" min-width="200" sortable>
        </el-table-column>
        <el-table-column label="Operating" width="200">
            <template scope="scope">
                <el-button size="small" @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                <el-button type="danger" @click="handleDelete(scope.$index, scope.row)" size="small" >Delete</el-button>
            </template>
        </el-table-column>
  </el-table>
</template>

<script>
import axios from 'axios'
import router from '../router'
import EventBus from './EventBus'
// import VueTableDynamic from 'vue-table-dynamic'

EventBus.$on('logged-in', test => {
  console.log(test)
})

export default {
  data () {
    return {
      users: []

    }
  },
  mounted () {
    this.emitMethod()
    this.getUser()
  },
  methods: {
    getUser () {
      axios.get('users/all').then(res => {
        this.users = res.data
        console.log(res.data)
      })
    },
    emitMethod () {
      EventBus.$emit('logged-in', 'loggedin')
    },
    handleEdit: function (index, row) {
    //   this.$router.push({ name: 'EditBook', query: { books_id: row.id}})
      router.push({name: 'EditProfile', query: { user_ID: row._id }})
    },
    handleDelete: function (index, row) {
      this.$confirm('Do you confirm the delete?', 'Delete', {}).then(() => {
        axios.delete('users/delUserbyID/' + row._id).then(res => {
          console.log(res.data)
          this.$message({
            message: 'Delete successfully',
            type: 'success'
          })
          router.go(0)
          // router.push({name: 'Profile'})
        })
      })
    }

  }
}
</script>
