<template>
<el-table
     :data="loans">
    <el-table-column type="selection" width="55">
        </el-table-column>
        <el-table-column type="index" width="60">
        </el-table-column>
        <el-table-column prop="_id" label="Loan Id" width="150"  sortable>
        </el-table-column>
        <el-table-column prop="book_id" label="Book Id" width="150"  sortable>
        </el-table-column>
        <el-table-column prop="book_title" label="Book Title" width="120"  sortable>
        </el-table-column>
        <el-table-column prop="user_id" label="User Id" width="150"  sortable>
        </el-table-column>
        <el-table-column prop="user_name" label="User Name" min-width="120" sortable>
        </el-table-column>
        <el-table-column prop="loan_Issue_Date" label="Loan Issue Date" min-width="150" sortable>
        </el-table-column>
        <el-table-column prop="loan_Due_Date" label="Loan Due Date" min-width="150" sortable>
        </el-table-column>
        <el-table-column prop="loan_Status" label="Loan Status" min-width="130" sortable>
        </el-table-column>
        <el-table-column label="Operating" width="250">
            <template scope="scope">
                <el-button size="small" @click="handleDetailed(scope.$index, scope.row)">View</el-button>
                <el-button size="small" @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                <el-button type="danger" @click="handleDelete(scope.$index, scope.row)" size="small" >Delete</el-button>
            </template>
        </el-table-column>
  </el-table>
</template>
<script>
import axios from 'axios'
import router from '../router'
import EventBus from './EventBus'

EventBus.$on('logged-in', test => {
  console.log(test)
})

export default {
  data () {
    return {
      loans: []

    }
  },
  mounted () {
    this.emitMethod()
    this.getLoan()
  },
  methods: {
    getLoan () {
      axios.get('loans/all').then(res => {
        this.loans = res.data
        console.log(res.data)
      })
    },
    emitMethod () {
      EventBus.$emit('logged-in', 'loggedin')
    },
    handleEdit: function (index, row) {
    //   this.$router.push({ name: 'EditBook', query: { books_id: row.id}})
      router.push({name: 'EditLoans', query: { LoanID: row._id }})
    },
    handleDelete: function (index, row) {
      this.$confirm('Do you confirm the delete?', 'Delete', {}).then(() => {
        axios.delete('loans/delloanbyID/' + row._id).then(res => {
          console.log(res.data)
          this.$message({
            message: 'Delete successfully',
            type: 'success'
          })
          router.go(0)
          // router.push({name: 'AddLoan'})
        })
      })
    },
    handleDetailed: function (index, row) {
      router.push({name: 'LoanDetailed', query: { LoanID: row._id }})
    }

  }
}
</script>
