<template>
<el-table
     :data="books">
    <el-table-column type="selection" width="55">
        </el-table-column>
        <el-table-column type="index" width="60">
        </el-table-column>
        <el-table-column prop="_id" label="Book Id" width="200"  sortable>
        </el-table-column>
        <el-table-column prop="book_title" label="Book Title" width="160"  sortable>
        </el-table-column>
        <el-table-column prop="book_author" label="Book Author" width="160"  sortable>
        </el-table-column>
        <el-table-column prop="book_NumOfCop" label="Number Of Copies" min-width="80" sortable>
        </el-table-column>
        <el-table-column prop="description" label="Dscription" min-width="300" sortable>
        </el-table-column>
        <el-table-column label="Operating" width="250">
            <template scope="scope">
                <el-button size="small" @click="handleDetailed(scope.$index, scope.row)">View</el-button>
                <el-button size="small" @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                <el-button type="danger" @click="handleDelete(scope.$index, scope.row)" size="small" >Delete</el-button>
            </template>
        </el-table-column>
  </el-table>
</template>
<script>
import axios from 'axios'
import router from '../router'
import EventBus from './EventBus'
import VueTableDynamic from 'vue-table-dynamic'

EventBus.$on('logged-in', test => {
  console.log(test)
})

export default {
  data () {
    return {
      books: []

    }
  },
  components: { VueTableDynamic },
  mounted () {
    this.emitMethod()
    this.getBook()
  },
  methods: {
    getBook () {
      axios.get('books/all').then(res => {
        this.books = res.data
        console.log(res.data)
      })
    },
    emitMethod () {
      EventBus.$emit('logged-in', 'loggedin')
    },
    handleEdit: function (index, row) {
    //   this.$router.push({ name: 'EditBook', query: { books_id: row.id}})
      router.push({name: 'EditBook', query: { book_ID: row._id }})
    },
    handleDelete: function (index, row) {
      this.$confirm('Do you confirm the delete?', 'Delete', {}).then(() => {
        axios.delete('books/delBookbyID/' + row._id).then(res => {
          console.log(res.data)
          this.$message({
            message: 'Delete successfully',
            type: 'success'
          })
          router.go(0)
          // router.push({name: 'AddBook'})
        })
      })
    },
    handleDetailed: function (index, row) {
      router.push({name: 'BookDetailed', query: { book_ID: row._id }})
    }
  }
}
</script>
